@font-face {
  font-family: 'MyCustomFont';
  src: url('google.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'MyCustomFont', sans-serif;
  color: #fff;
  background-color: #27292e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}


/* TOP DIV WITH GMAIL, IMAGES, ICON and PROFILE PICTURE */

.topleft {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    font-size: 12px;
    color: #e3e3e3;
    padding: 8px;
}

.topleft ul {
    display: flex;
    gap: 15px;
    letter-spacing: 0.5px;
    font-weight: 100;
    height: 60px;
    padding-top: 18px;
}

.topleft ul li:hover {
    text-decoration: underline;
}

.icon i{
    font-size: 23px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
}

.icon i:hover {
    background-color: #45474c;
    transition: 0.3s ease-in-out;
}

.profile-pic img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}



/* MAIN */
main {
    width: 100%;
    height: 1115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 190px;
}

main .heading h1{
    font-size: 80px;
    letter-spacing: 0.6px;
}

main .searchbar {
    margin-top: 25px;
    padding: 0px 1px 0px 5px;
    background-color: #393b42;
    width: 700px;
    display: flex;
    align-items: center;
    border: 1px solid #4d5156;
    border-radius: 26px;
}

.plusicon {
    width: fit-content;
    font-size: larger;
    padding: 9px 12px;
    cursor: pointer;
    border-radius: 100%;
}

.plusicon:hover {
    background-color: #45474c;
}

textarea {
    background-color: #393b42;
    color: #fff;
    caret-color: white;
    font-size: large;
    resize: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 22px;
    width: 470px;
    min-height: 50px;
    max-height: 150px;
    padding-top: 10px;
    padding-bottom: 4px;
    overflow-x: hidden;
    field-sizing: content;
    overflow-y: auto;
}

.mic-icon {
    width: fit-content;
    font-size: x-large;
    margin-right: 12px;
    padding: 3px 5px 0px 0px;
    cursor: pointer;
}

.lens-icon {
    width: fit-content;
    font-size: x-large;
    padding: 3px 20px 0px 0px;
    cursor: pointer;
}

.ai-mode {
    background-color: #4f5159;
    color: #fff;
    border: none;
    font-size: 13px;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
}

.buttons {
    height: 58px;
    padding-top: 28px;
    width: 688px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    width: auto;
    background-color: #303134;
    color: #fff;
    margin: 11px 5px;
    padding: 10px 16px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.buttons button:hover {
    border-color: #4f5159;
}

.language {
    height: 60px;
    padding-top: 50px;
    font-size: smaller;
}

.language a {
    color: rgb(134, 173, 244);
}

.location {
    width: 100%;
    height: fit-content;
    padding-left: 25px;
    padding-bottom: 10px;
    font-size: 14px;
}


/* FOOTER */
footer {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 0px 20px;
    border-top: 1px solid #4d5156;
}

footer ul {
    display: flex;
    align-items: center;
}

footer ul li {
    padding: 15px;
    font-size: 14px;
}

footer ul li:hover {
    text-decoration: underline;
}